@model LoginViewModel
    <h1>Вход</h1>
    <form asp-controller="Auth" asp-action="ExternalLogin" 
          asp-route-returnUrl="@Model.ReturnUrl" method="post">
        @foreach (var provider in Model.ExternalProviders)
        {
            <button name="provider"
                    type="submit"
                    value="@provider.Name">
                @provider.Name
            </button>
        }
    </form>

    <form asp-controller="Auth" asp-action="Login" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="form-item">
            <label>Логин:</label>
            <input asp-for="Username" />
        </div>
        <div class="form-item">
            <label>Пароль:</label>
            <input type="password" asp-for="Password" />
        </div>
        <div class="form-footer">
            <a asp-controller="Auth" asp-action="Register"
               asp-route-returnUrl="@Model.ReturnUrl"><small>Регистрация</small></a>
            <button type="submit">Войти</button>
        </div>
    </form>