@model RegisterViewModel
    <h1>Регистрация</h1>
<form asp-controller="Auth" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-item">
        <label>Логин:</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div class="form-item">
        <label>Пароль:</label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-item">
        <label>Повторите пароль:</label>
        <input type="password" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="form-footer">
        <a asp-controller="Auth" asp-action="Login"
           asp-route-returnUrl="@Model.ReturnUrl"> <small>Назад</small> </a>
        <button type="submit">Зарегистрироваться</button>
    </div>
</form>

